@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

#principal
{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;  
   align-content: center;  
}
#planetas
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
}

#ali_texto
{
    text-align: center;
    color: aliceblue;
}
h1
{
    text-align: center;
    font-family: 'Libre Bodoni', serif;
    color: aliceblue;
}
body
{
    background-image: url(../img/ceu.gif);
    background-repeat: no-repeat;
    background-size: cover;
}